.question-article {
  background-color: var(--secondary);
  border: var(--white) 0.2rem solid;
  padding: 1rem;
  text-align: center;
  margin: 0 1rem;
  max-width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.question__bookmark {
  position: absolute;
  top: -0.75rem;
  right: 0.25rem;
  padding: 0;
  background-color: transparent;
  border: none;
}

.question__svg {
  fill: currentColor;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.question__svg-active {
  fill: red;
}

.question__button {
  padding: 1rem;
  border-radius: 50%;
}

.question__tag-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
